.statistics {
  display: block;
  text-align: start;
  padding: 10px;
  background-color: #faf8f5;
  box-shadow: 0px 1px 2px 1px #d3c7b3;
}

.value {
  font-size: 20px;
  margin-bottom: 4px;
  text-transform: capitalize;
}
